<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Info"
	  internalLogFile="${basedir}/logs/internal-${shortdate}.log">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	
	<targets>
		<target name="exceptions" xsi:type="File"
            layout="${longdate} ${logger} ${message}${exception:format=ToString}"
            fileName="${basedir}/logs/exceptions-${shortdate}.log"
            keepFileOpen="true"
            encoding="utf-8" />

		<target name="allFile" xsi:type="File"
			layout="${longdate} ${logger} ${message}${exception:format=ToString}"
			fileName="${basedir}/logs/allFile-${shortdate}.log"
			keepFileOpen="true"
			encoding="utf-8" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="allFile" />
		<logger name="RestaurantAPI.*" minlevel="Error" writeTo="exceptions" />
	</rules>
</nlog>